/* CPT Details */

.cf-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 16px;
}

.cf-column {
	align-self: stretch;
	display: grid;
	grid-row-gap: 12px;
}

.cf-wrapper,
.cf-box > .inputs-wrapper {
	display: inline-flex;
}

.inputs-wrapper {
	width: 100%;
}

.inputs-wrapper span{
	margin: auto 0;
}

.cf-box {
	height: 100%;
}

.cf-box--flex {
	display: flex;
	flex-direction: column;
}

.cf-box--flex .cf-box__textarea {
	flex-grow: 1;
}

.cf-box--xl,
.cf-box__input--xl {
	flex-basis: 80%;
}

.cf-box--s,
.cf-box__select--s {
	flex-basis: 20%;
}

.cf-box--xl > * {
	width: calc(100% - 10px) !important;
}

.cf-box__label {
	margin: 4px 4px;
}

.cf-box .cf-box__input,
.cf-box .cf-box__select {
	height: 2.5em;
}

.cf-box .cf-box__textarea {
	resize: none;
	margin: 0;
}

.cf-box__input--xl {
	margin-right: 10px;
}

.cf-box > * {
	display: block;
}

.cf-box > input,
.cf-box > textarea {
	width: 100%;
}

.inputs-wrapper span {
	line-height: 0;
}

/* CPT Gallery */

.avant_folio-gallery {
	display: flex;
}

.avant_folio-gallery__list li.attachment,
.avant_folio-gallery__button {
	width:  141px !important;
	height: 141px !important;
}

.wp-core-ui .attachment.details {
	box-shadow: inset 0 0 0 5px #fff,inset 0 0 0 7px #ccc;
}
.wp-core-ui .attachment.details:hover {
	box-shadow: inset 0 0 0 3px #fff,inset 0 0 0 7px #0073aa;
}

.js-avant-folio-gallery-remove-image {
	top: 35px !important;
}

.js-avant-folio-gallery-set-featured-image {
	color: transparent !important;
}

.dashicons-star-filled {
	color: #fff;
	display: block;
	height: 85%;
	width: 100%;
	text-decoration: none;
}

.js-avant-folio-gallery-remove-image {
	opacity: 0;
}

.featured-image .js-avant-folio-gallery-set-featured-image {
	opacity: 1;
}

.wp-core-ui .attachment.details:hover > .js-avant-folio-gallery-remove-image {
	opacity: 1;
}
.js-avant-folio-gallery-set-featured-image {
	opacity: 0;
}

.wp-core-ui .attachment.details:hover > .js-avant-folio-gallery-set-featured-image {
	opacity: 1;
}

.avant_folio-gallery__button {
	margin: 13px 0 !important;
}

.avant_folio-gallery__button .thumbnail {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.avant_folio-button--add {
	display: flex;
	align-items: center;
	height: 30px;
	padding: 6px;
	padding-right: 10px;
	color: #555;
	border-color: #ccc;
	background: #f7f7f7;
	box-shadow: inset 0 -1px 0 #ccc;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

.avant_folio-button--add svg {
	margin-right: 4px;
	fill: currentColor;
}

.avant-folio-gallery-save-button .submit {
	float: none !important;
}