.work-image {
  width:  25%;
  height: auto;
}

.avant_folio_gallery li.attachment {
	width:  141px;
	height: 141px;
}
.avant_folio_gallery {
	display: block;
}
.avant_folio_gallery:after {
	display: table;
	content: '';
	clear: both;
}